@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2');
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: rgba(240, 197, 46, 0.5);
}

body {
  background-color: rgba(255, 255, 255, 1);
}

footer {
  background-color: rgba(70, 70, 70, 1);
}

a {
  text-decoration: none;
}

/* Маркеры у списков*/

.site-navigation,
.catalog-items,
.user-navigation,
.site-navigation-footer,
.user-navigation-footer,
.social-list,
.monopods,
.colors-list,
.bluetooth-filter,
.catalog-list {
  list-style: none;
}

.logo:hover,
.logo:focus,
.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo:active,
.logo-footer:active {
  opacity: 0.3;
}

.logo-html:hover,
.logo-html:focus {
  opacity: 0.6;
}

.logo-html:active {
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.monopods a:hover,
.monopods a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.monopods a:active {
  color: rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Шрифт Gilroy Light*/

.catalog-item-price {
  font-family: 'Gilroy Light';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

/* Шрифт Gilroy ExtraBold*/

.site-navigation a,
.about-us h2,
.companies-list .list-item,
.about-us .button-about,
.contacts h2,
.contacts .button-write,
.site-navigation-footer a,
.path h2,
.item a,
.add-to-cart,
fieldset .filter-color,
fieldset .bth,
.show {
  font-family: 'Gilroy ExtraBold', Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
}

.site-navigation a {
  text-transform: uppercase;
}

.add-to-cart {
  text-transform: uppercase;
}

.about-us h2 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.companies-list .list-item {
  font-size: 16px;
  line-height: 40px;
}

.about-us .button-about {
  text-align: center;
  text-transform: uppercase;
}

.contacts h2 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.contacts .button-write {
  text-align: center;
  text-transform: uppercase;
}

.site-navigation-footer a {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.path h2 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

/* Шрифт Open Sans*/

.catalog-items a,
.search-field,
.user-navigation a,
.about-us p,
.contacts p,
.company-info .address,
.company-info .phone,
.user-navigation-footer a,
.monopods,
.compare,
.color-item label,
.filter-presence label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

/* Раскрывающийся каталог*/

.catalog-items {
  display: none;
}

.catalog-items a {
  text-transform: none;
}

/* Форма поиска*/

.search-form {

  line-height: 30px;
  background-color: rgba(240, 197, 46, 0);
}

.search-field {
  border: none;
  background-color: rgba(240, 197, 46, 0);
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus {
  opacity: 1;
  color: #000000;
}

/* О нас*/

.btn {
  display: block;
  position: relative;
  z-index: 1;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 18px;
  left: -2px;
  width: inherit;
  height: 8px;
  background-color: #f0c52e;
}

.btn:hover::before,
.btn:focus::before {
  top: 0;
  margin: 0;
  height: 40px;
}

.btn:active::before {
  top: 0;
  height: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

.about-us p {
  letter-spacing: normal;
  color: #464646;
}

/* Контакты*/

.contacts p {
  letter-spacing: normal;
  color: #464646;
}

/* Футер*/

.company-info .address,
.company-info .phone {
  letter-spacing: normal;
  color: #ffffff;
}

.logo-footer path {
  fill: #ffc600;
}

.logo-html path {
  fill: #ffc600;
}

.user-navigation-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer a:hover,
.user-navigation-footer a:focus {
  color: rgba(255, 255, 255, 1);
}

.user-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Карточки каталога*/

.monopods a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.item a {
  letter-spacing: 0.2px;
}

.show {
  width: 200px;
  padding-left: 42px;
}

.add-to-cart {
  width: 200px;
  padding-left: 37px;
  text-transform: uppercase;
}

.compare {
  opacity: 0.5;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}


/* Фильтр каталога*/

form {
  width: 467;
  background-color: #ebebeb;
}

.color-item input:disabled + label {
  opacity: 0.25;
}

.color-item input:hover {
  opacity: 0.6;
}

.color-item input:checked {
  opacity: 1;
}

.color-item label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.bluetooth-filter input:disabled + label {
  opacity: 0.25;
}

.bluetooth-filter input:hover {
  opacity: 0.6;
}

.bluetooth-filter input:checked {
  opacity: 1;
}

fieldset {
  border: none;
}

fieldset .filter-color {
  letter-spacing: 0.2px;
}

fieldset .btn {
  letter-spacing: 0.2px;
}

.filter-presence label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.show {
  text-transform: uppercase;
  background-color: #ebebeb;
  border: none;
}

/* Модалки */

.modal-write-us {
  display: none;
}

.modal-map {
  display: none;
}


/* Сетки */

.main-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 37px;
}


.main-navigation {
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  position: relative;
  top: -19px;
}

.search {
  width: 440px;
  margin-right: 100px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  padding: 0px;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.user-navigation {
  display: flex;
  width: 500px;
  padding: 0;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  width: 1360px;
  margin-bottom: 0 auto;
}

.about-us {
  width: 560px;
  padding-right: 20px;
}

.contacts {
  width: 560px;
  padding-left: 20px;
}

.main-footer {
  display: flex;
  min-width: 1440px;
  margin: 0 auto;
}

.main-footer-container {
  display: flex;
  width: 1160px;
  flex-direction: column;
  margin: 0 auto;
}

.logo-user-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 63px;
  margin-bottom: 37px;
}

.user-navigation-footer {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin: 0;
  padding: 0;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.site-navigation-footer {
  width: 440px;
  justify-content: space-between;
}

.site-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* Каталог */

.container-catalog {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.path-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.path {
  width: 1040px;
}

.path h2 {
  margin: 0;
  padding: 0;
}

.monopods {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  min-width: 1100px;
}

.filter {
  min-height: 1287px;
}

fieldset {
  padding: 0;
  margin: 0;
}

.cards-catalog {
  width: 880px;
  margin-left: 50px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.item-info {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  margin-left: 20px;
  margin-right: 20px;
}


.item-info h3 {
  margin: 0;
  padding: 0;
}

p.catalog-item-price {
  padding: 0;
  margin-top: 0;
}
